
body {
box-sizing: border-box;
}
p{
margin: 0;
padding: 0;
}
ul{
padding: 0;
}
li{
list-style: none;
margin: 0;
padding: 0;
}
/*Common-css*/
a.button::after {
display: none;
}
a.button::before {
display: none;
}

.cst-banner-btn {
border: 1px solid #E2D0B6;
display: inline-block;
height: 161px;
width: 161px;
text-align: center;
line-height: 148px;
border-radius: 50%;
margin-top: 78px;
position: relative;
cursor: pointer;
}
.cst-banner-btn a {
font-size: 25px;
line-height: 33px;
font-style: italic;
font-family: 'TT Drugs';
color: #E2D0B6;
text-decoration: none;
}
.cst-banner-btn a::after {
position: absolute;
content: '';
height: 36px;
width: 36px;
background: #E2D0B6;
border-radius: 50px;
left: 50%;
bottom: 16px;
right: 0;
}
.cst-home-imgeText1 a.cst-button.button.button--primary {
font-size: 25px;
line-height: 33px;
font-style: italic;
font-family: 'Satoshi';
color: #E2D0B6;
background: transparent;
border: 1px solid;
border-radius: 40px;
}
.cst-home-bestSeller .product-slider .slick-prev::before {
content: "";
display: block;
width: 145px;
height: 145px;
background-image: url(/cdn/shop/files/Group_2230.png?v=1732613634);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 50%;
left: 0;
transform: translate(0, -50%); 
z-index: 1;
}
.cst-home-bestSeller .product-slider .slick-next::before {
content: "";
display: block;
width: 145px;
height: 145px;
background-image: url('https://cdn.shopify.com/s/files/1/0615/6481/3389/files/Group_2231.png?v=1732613635');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute; 
top: 50%; 
right:0; 
transform: translate(0, -50%); 
z-index: 1; 
}

.cst-home-bestSeller .product-slider .slick-prev{
background-color: transparent;
font-size: 0;
}
.cst-home-bestSeller .product-slider .slick-next{
background-color: transparent;
font-size: 0;
}


.common-slide-arrow .slick-prev:before {
content: "";
display: block;
width: 123px;
height: 16px;
background-image: url(/cdn/shop/files/Arrow_7.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.common-slide-arrow .slick-next:before {
content: "";
display: block;
width: 123px;
height: 16px;
background-image: url(https://cdn.shopify.com/s/files/1/0615/6481/3389/files/Arrow_6.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.common-slide-arrow .slick-prev {
transform: translate(-67px);
top: unset;
bottom: -51px;
left: unset;
right: 298px !important;
}
.common-slide-arrow .slick-next {
transform: translate(-67px);
top: unset;
bottom: -51px;
left: unset;
right: 152px !important
}
.common-slide-arrow button{
background: transparent;
}
.common-slide-arrow button:hover{
background: transparent;
}
.custom-product-slider button{
background: transparent;
}
.custom-product-slider button:hover{
background: transparent;
}


.custom-product-slider .slick-prev:before {
content: "";
display: block;
width: 87px;
height: 87px;
background-image: url(https://cdn.shopify.com/s/files/1/0615/6481/3389/files/Group_2277.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.custom-product-slider .slick-next:before {
content: "";
display: block;
width: 87px;
height: 87px;
background-image: url(https://cdn.shopify.com/s/files/1/0615/6481/3389/files/Group_2233.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.custom-product-slider .slick-prev {
transform: translate(55px);
top: unset;
bottom: 50%;
left: 0;
right: 298px !important;
}
.custom-product-slider .slick-next {
transform: translate(-90px);
top: unset;
bottom: 50%;
left: unset;
right: 0;
}
body .cst-head h2 {
font-size: 90px;
line-height: 90px;
color: #0c4434;
font-family: "Noto Serif Display", serif;
font-weight: 400;
margin-bottom: 22px;
text-transform: uppercase;
}
body .cst-head p {
font-size: 18px;
line-height: 18px;
color: #0C4434;
font-family: 'TT Drugs';
font-weight: 400;
margin-bottom: 58px;
}

/*Common-css*/
/*Before-After Images*/
.cst-custom-class-for-image:after {
content: "";
display: block;
width: 80px;
height: 160px;
background-image: url(/cdn/shop/files/Group_2280.png?v=1732788508);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: -9px;
left: 0;
z-index: 1;
transform: translateY(-50%);
}

.cst-homr-richText .rich-text__blocks.left h2:after {
content: "";
display: block;
width: 145px;
height: 257px;
background-image: url(https://cdn.shopify.com/s/files/1/0615/6481/3389/files/Vector_4.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: -158px;
left: -30%;
z-index: 1;
}
.cst-homr-richText .rich-text__blocks.left h2:before {
content: "";
display: block;
width: 224px;
height: 229px;
background-image: url(/cdn/shop/files/Group_2238.png?v=1732613635);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: -60%;
left: 74%;
right: 0;
z-index: 2;
transform: translateX(50px);
}
/*Before-After Images*/


.header-wrapper {
background: #DCC6A7;
}
header .cst-header-contetn-wrap {
display: flex;
align-items: center;
gap:20px;
}
header-drawer {
justify-self: center !important; 
margin-left: 0 !important;
order: 3;
}
header.page-width {
max-width: 1550px;
margin: 0 auto;
padding: 20px 40px !important;
}
body .header--middle-left{
display: flex;
justify-content: space-between;
}
body header nav.header__inline-menu a {
font-size: 12px;
font-weight: 500;
color: #0C4434 !important;
font-family: 'Satoshi';
text-transform: uppercase;
margin: 0 32px;
padding: 0;
}
.header__active-menu-item{
color: #0C4434;
}
.header__inline-menu{
text-align: end;
}
.header__icon span{
justify-content: end;
}
.header__icon--menu .icon {
color: #0C4434;
width:44px;
}
body .cst-home-main-banner {
background: #0C4434;
padding: 140px 0 59px 0;
}
.cst-home-main-banner  .custom-banner-right img {
max-width: 100%;
}
.cst-home-main-banner .custom-banner-caption p {
font-size: 34px;
font-style: italic;
line-height: 46px;
color: #E2D0B6;
font-weight: 300;
font-family: 'TT Drugs';
}
.cst-home-main-banner .custom-banner-caption{
margin: 0;
}
.cst-home-main-banner .custom-banner-content h2 {
font-size: 126px;
line-height: 165px;
color: #e2d0b6;
letter-spacing: 5px;
margin: 0;
font-weight: 400;
font-family: 'Noto Serif Display';
}
.cst-home-main-banner .custom-banner-left p {
font-size: 16px;
line-height: 20px;
font-weight: 400;
color: #E2D0B6;
font-family: 'TT Drugs';
max-width: 527px;
}
.cst-home-main-banner .cst-custom-banner-wrapper {
display: flex
;
justify-content: center;
}
.cst-home-main-banner .custom-banner-content {
max-width: 1500px;
margin: 0 auto;
padding: 0 50px;
}
.cst-home-bestSeller .slick-list.draggable {
max-width: 1242px!important;
margin: 0 auto;
}

.cst-home-bestSeller h2.cst--heading.slider-heading {
margin: 0 0 -60px;
position: relative;
font-size: 115px;
text-transform: uppercase;
color: #0c4434;
font-family: "Noto Serif Display";
line-height: 165px;
z-index:1;
max-width: 1339px;
margin: 0 auto -57px;
}

.cst-home-bestSeller h2.cst-bottom-heading.slider-heading {
margin: 0;
font-size: 115px;
text-transform: uppercase;
color: #0c4434;
font-family: "Noto Serif Display";
line-height: 165px;
padding-right: 214px;
margin-bottom: 0;
z-index:1;
position: relative;
margin-top: -65px;
}
.cst-home-bestSeller.product-slider-with-price {
background: #fcfaf8;
padding: 79px 0 47px;
max-width: 100%;
position: relative;
overflow: hidden;
}
.cst-home-bestSeller .product-slider {
padding: 0 134px;
}
.cst-home-bestSeller .product-slider .slide {
padding: 0 20px;
}
.cst-home-bestSeller .image-wrapper img {
width: auto;
height: 100%;
object-fit: cover;
max-width: 100%;
margin: 0 auto;
}
.cst-home-bestSeller  .image-wrapper {
background: #F9F6F1;
padding: 28px 0;
}
.cst-product-detail {
background: #f9f6f1;
}
.cst-product-detail {
background: #f9f6f1;
display: flex;
justify-content: space-around;
padding-bottom: 28px;
}
.cst-product-detail h3 {
font-size: 14px;
font-weight: 400;
color: #1E1E1E;
text-transform: uppercase;
font-family: 'TT Drugs';
margin: 0;
}
.cst-product-detail p.cst--price {
font-size: 14px;
line-height: 18px;
font-weight: 400;
color: #1E1E1E;
font-family: 'TT Drugs';
}
.cst-home-slider2 .slider-left img {
height: 100%;
object-fit: cover;
}

.cst-home-slider2.custom-slider {
background: #fff;
padding: 77px 0 106px 0;
}
.cst-home-slider2 a.cst-button {
display: flex;
justify-content: end;
padding-top: 50px;
}
.cst-home-slider2 .slider-left {
padding: 8px;
}
.cst-home-slider2 .slider-right h2 {
font-size: 45px;
line-height: 90px;
font-family: 'Noto Serif Display';
text-transform: uppercase;
margin-bottom: 0;
}
.cst-home-slider2 .slider-right p{
font-size: 16px;
line-height: 20px;
font-family: 'TT Drugs';
}
.cst-home-slider2 .slider-right h2{
color: #DCC6A7;
}
.cst-home-slider2 .slider-right p{
color: #DCC6A7;
}
.cst-home-slider2 .cst-odd-sec h2{
color: #0C4434;
}
.cst-home-slider2 .cst-odd-sec p{
color: #0C4434;
}
.cst-home-slider2 .cst-odd-sec {
background: #DCC6A7;
padding: 0;
}

.cst-home-slider2 .cst-even-sec  {
background: #0C4434;
padding: 0;
}

.cst-homr-richText .rich-text {
padding-top: 87px;
}

.cst-homr-richText .rich-text__blocks h2 {
font-size: 48px;
line-height: 58px;
color: #0C4434;
font-family: "Noto Serif Display";
position: relative;
}
.cst-homr-richText  .rich-text__text p {
margin-top: 0;
font-size: 16px;
color: #0C4434;
line-height: 20px;
font-family: 'TT Drugs';
}

.cst-homr-richText .rich-text__text {
background: #ffff;
}
.cst-homr-richText .rich-text__text{
margin-top: 0;
}

.cst-home-imgeText1 .page-width{
max-width: 100%;
padding: 0;
}
.cst-home-imgeText1 img.cst-custom-image {
max-width: 100%;
}
.cst-home-imgeText1 .image-with-text__text-item {
background: #0C4434;
}
.cst-home-imgeText1 .image-with-text__content h2 {
font-size: 75px;
line-height: 70px;
color: #e2d0b6;
font-family: 'Noto Serif Display';
margin-top: 0;
}
.cst-home-imgeText1 .image-with-text__text p {
font-size: 21px;
line-height: 26px;
font-weight: 400;
color: #e2d0b6;
font-family: 'TT Drugs';
max-width: 581px;
}
.cst-home-imgeText1 .image-with-text__text {
margin-top: 0;
}
.cst-imgText-bottom {
background: #0c4434;
border-top: 2px solid #E2D0B6;
padding: 11px 0;
}
.cst-imgText-bottom img {
width: 100%;
max-width: 100%;
display: block;
}
.cst-home-product-Image .custom-container {
max-width: 100%;
margin: 0 auto;
background: #e2d0b6;
padding: 0;
}

.cst-home-product-Image.custom-product-with-image {
background-color: #e2d0b6;
margin: 78px auto 96px;
padding: 0;
max-width: 1440px;
}


.cst-home-product-Image .custom-product-slide img {
width: 100%;
max-width: 262px;
height: 483px;
object-fit: contain;
margin: 0 auto 30px;
display: block;
}
.cst-home-product-Image .custom-product-slide p {
font-size: 14px;
line-height: 24px;
font-weight: 400;
font-family: 'TT Drugs';
text-decoration: none;
}
.cst-home-product-Image .custom-product-slide a {
text-decoration: none !important;
}
.cst-home-product-Image .custom-product-slide .cst-product-name, .cst-product-price {
color: #1E1E1E;
text-transform: uppercase;
padding-top: 0;
}
.cst-home-product-Image p.cst-product-description {
color: #0C4434;
max-width: 301px;
margin: 0 auto;
}
.cst-home-product-Image p.cst-product-description {
color: #0c4434;
max-width: 301px;
margin: 8px auto 0;
line-height: 18px;
}
.cst-home-product-Image .custom-image-container img {
height: 680px;
width: 100%;
}

.cst-home-review.review-section {
padding: 0;
}
.cst-home-review .client-image {
max-width: 100%;
margin: 0 auto;
display: block;
width: 30%;
}
.cst-home-review .client-image img {
max-width: 128px;
height: auto;
object-fit: cover;
width: 100%;
margin: auto;
}

.cst-home-review .review-card {
background: #fcfaf8;
box-shadow: none;
border-radius: 0;
padding-top: 28px;
align-items: start;
}
.cst-home-review p.review-text {
font-size: 21px;
line-height: 32px;
color: #0c4434;
font-family: TT Drugs;
}

.cst-home-review  p.client-name {
font-size: 16px;
line-height: 32px;
color: #1E1E1E;
text-align: end;
text-transform: uppercase;
}
.cst-home-review .review-slider {
padding-bottom: 65px;
}
.cst-home-review  .slick-next {
bottom: -12px !important;
}
.cst-home-review .slick-prev {
bottom: -12px !important;
}
.cst-home-review .stars .star.filled {
color: #0C4434;
font-size: 38px;
}
.cst-home-review .review-content {
padding-left: 0;
}

.cst-home-services .services-custom-slider{
overflow: inherit;
padding-bottom: 50px;
}

.cst-home-services  .slick-next {
bottom: -60px !important;
}
.cst-home-services  .slick-prev {
bottom: -60px !important;
}
body .cst-home-services {
background: #FCFAF8;
padding: 80px 0 120px 0;
margin-top: 80px;
}
.cst-home-services .services-card-image img {
height: 100%;
max-width: 100%;
margin: 0 auto;
width: 100%;
object-fit: cover;
border-radius: 0;
}
.cst-home-services .cst-odd-sec {
background: #DCC6A7;
border-radius: 0;
padding: 0;
}
.cst-home-services .cst-even-sec {
background: #0C4434;
border-radius: 0;
padding: 0;
}
.cst-home-services .cst-odd-sec h3 {
font-size: 40px;
line-height: 40px;
font-weight: 400;
font-family: 'Noto Serif Display';
color: #0C4434;
text-align: left;
padding: 10px 24px;
}
.cst-home-services .cst-odd-sec p.services-card-text {
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #0C4434;
font-family: 'TT Drugs';
text-align: left;
padding: 0 24px;
margin-bottom: 15px;
}
.cst-home-services .cst-even-sec h3 {
font-size: 40px;
line-height: 40px;
font-weight: 400;
color: #DCC6A7;
font-family: 'Noto Serif Display';
text-align: left;
padding: 10px 24px;
}
.cst-home-services .cst-even-sec p.services-card-text {
color: #DCC6A7;
font-size: 14px;
line-height: 22px;
font-weight: 400;
font-family: 'TT Drugs';
text-align: left;
padding: 0 24px;
margin-bottom: 20px;
}
body .cst-home-services .slick-slide{
margin: 0 !important;
}
body .cst-home-services .services-card-info{
margin: 0;
}

.cst-home-services .cst-button-content-wrap {
display: flex;
justify-content: space-between;
font-size: 25px;
line-height: 33px;
font-style: italic;
font-family: Satoshi;
background: transparent;
border-radius: 40px;
max-width: 164px;
padding: 10px;
margin-left: 20px;
align-items: center;
}
.cst-home-services .cst-odd-sec span {
font-size: 16px;
font-style: italic;
font-family: 'Satoshi';
color: #0C4434;
line-height: 21px;
} 
.cst-home-services .cst-even-sec span {
font-size: 16px;
font-style: italic;
font-family: 'Satoshi';
color: #E2D0B6;
line-height: 21px;
} 
.cst-service-content-wrp.active-slided {
padding-bottom: 40px;
}
.cst-service-content-wrp.active-slided a {
text-decoration: none;
}
.cst-service-content-wrp a{
text-decoration: none;
}
.cst-service-content-wrp:hover {
transition: .3s;
}
.cst-home-services a.cst-button.services-card-buttons{
text-decoration: none;
}
.cst-home-services .cst-odd-sec .cst-button-content-wrap{
border: 1px solid #0C4434;
}
.cst-home-services .cst-even-sec .cst-button-content-wrap{
border: 1px solid #E2D0B6;
}
.cst-button-content-wrap img {
max-width: 64px;
height: 17px;
}
.cst-home-category .cst-colletions-list li{
border-radius: 40px;
border: 1px solid #E2D0B6;
text-align: center;
padding: 16px 12px;
line-height: normal;
}
.cst-home-category .cst-colletions-list li a {
font-size: 20px;
line-height: 18px;
font-weight: 400;
font-family: 'TT Drugs';
color: #E2D0B6;
text-transform: uppercase;
}

.cst-home-category .cst-colletions-list li:hover {
background: #E2D0B6;
}
.cst-home-category .cst-colletions-list li:hover a {
color: #0C4434;
}
.cst-home-category .cst-colletions-list a{
text-decoration: none;
}
.cst-home-category {
background: #0C4434;
}

.cst-home-category .page-width {
max-width: 100%;
padding: 0;
}
.cst-home-category .image-with-text__content {
padding: 125px 88px ;
}
.cst-home-category  p.image-with-text__text {
font-size: 20px;
line-height: 22px;
font-weight: 400;
color: #E2D0B6;
font-family: 'TT Drugs';
}
.cst-home-category h2.image-with-text__heading.inline-richtext.h0 {
font-size: 90px;
line-height: 90px;
color: #E2D0B6;
font-family: 'Noto Serif Display';
}
.cst-home-category ul {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 19px;
margin-top: 73px;
}
body .cst-home-category {
padding: 0;
}
.cst-home-category  a.custom-button.button.button--secondary {
background: transparent;
color: #E2D0B6;
font-size: 32px;
line-height: 18px;
font-family: 'Noto Serif Display';
padding: 0;
}
.cst-main span {
font-size: 32px;
font-weight: 400;
line-height: 18px;
font-family: 'Noto Serif Display';
color: #1E1E1E;
}
body .cst-home-marquee {
height: auto;
padding: 39px 0;
}
.cst-main {
display: flex;
align-items: center;
gap: 10px;
}
body .cst-home-about{
background: #E2D0B6;
padding: 0;
}
.cst-home-about .custom-banner-caption p {
font-style: italic;
color: #0C4434;
line-height: 46px;
font-size: 34px;
font-family: 'TT Drugs';
letter-spacing: 0;
}
.cst-home-about h2.custom-banner-heading {
font-size: 99px;
line-height: 72px;
font-family: "Noto Serif Display";
color: #0c4434;
font-weight: 300;
letter-spacing: 0;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 79px;
padding: 0;
}

.cst-home-about .custom-banner-left {
padding-left: 78px;
position: relative;
}
.cst-home-about .custom-banner-left p {
font-family: TT Drugs;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #0c4434;
margin: 110px 0 75px 0;
max-width: 436px;
}

.cst-home-about .cst-multi-buttons a {
font-size: 18px;
font-weight: 400;
line-height: 20px;
color: #E2D0B6;
font-family: 'TT Drugs';
background: #0C4434;
text-decoration: none;
padding: 12px 66px;
border-radius: 40px;
}
.cst-home-about .cst-custom-banner-wrapper {
display: flex;
justify-content: end;
}
.cst-home-about .cst-multi-buttons {
padding: 13px 0;
position: relative;
}
.cst-home-about .custom-banner-content {
max-width: 100%;
margin: 0 auto;
padding: 100px 75px 64px;
}
.cst-home-about .custom-banner-right {
width: 100%;
max-width: 100%;
}

.cst-home-about .custom-banner-right img {
width: 100%;
max-width: 100%;
height:100%;
object-fit: cover;
}
.cst-home-about .cst-banner-btn {
border: 1px solid #0C4434;
}
.cst-home-about .cst-banner-btn a {
color: #0c4434;
font-size: 16px;
}

.cst-home-about .cst-banner-btn a:after {
background: #DCC6A7;
}
.cst-home-retail .retailer-slider__logo {
border: 0;
height: 100%;
object-fit: cover;
}
.cst-home-retail.retailer-slider {
padding: 160px 0;
}



.cst-custom-home-image-banner .banner__buttons a {
font-size: 17px;
line-height: 32px;
border: 1px solid;
border-radius: 40px;
font-family: 'TT Drugs';
}
.cst-custom-home-image-banner a.button.button--secondary {
color: #DCC6A7;
background: transparent;
}
.cst-custom-home-image-banner a.button.button--secondary:hover {
background: #dcc6a7;
color: #0c4434;
}
.cst-custom-home-image-banner a.button.button--primary{
color: #0c4434;
background: #E2D0B6;
border: 1px solid #E2D0B6;
}
.cst-custom-home-image-banner a.button.button--primary:hover{
background: transparent;
color: #DCC6A7;
}

.cst-custom-home-image-banner p {
font-size: 28px;
line-height: 36px;
font-weight: 400;
color: #FCFAF8;
text-transform: uppercase;
font-family: 'TT Drugs';
}

.cst-custom-home-image-banner h2 {
font-size: 54px;
line-height: 64px;
color: #fcfaf8;
text-transform: uppercase;
font-family: "Noto Serif Display";
margin: 17px 0 23px;
}


.cst-custom-home-image-banner .banner__text p {
font-size: 16px;
line-height: 20px;
font-weight: 400;
font-family: TT Drugs;
text-transform: capitalize;
max-width: 800px;
margin: 0 auto;
}
.cst-custom-home-image-banner .banner__content.page-width{
max-width: 100% ;
}

.cst-custom-home-image-banner .banner__box {
max-width: 998px !important;
margin: 0 auto;
}
.cst-custom-home-image-banner .banner__buttons {
padding-top: 50px;
}
.cst-custom-newslatter h2.custom-banner-heading {
font-size: 90px;
line-height: 90px;
color: #1E1E1E;
font-family: 'Noto Serif Display';
text-transform: uppercase;
font-weight: 400;
letter-spacing: -6px;
max-width: 500px;
text-align: left;
margin: 0;
}
.cst-custom-newslatter p{
font-size: 18px;
line-height: 20px;
font-family: TT Drugs;
color: #1E1E1E;
max-width: 448px;
text-align: left;
margin-top: 17px;
}
.cst-custom-home-newsletter .newsletter__wrapper {
padding-right: 0;
padding-left: 0;
}
.cst-custom-home-newsletter .container {
max-width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 128px;
}
body .cst-custom-home-newsletter {
background: #F9F6F0;
padding: 75px 0 88px;
}

.newsletter__wrapper {
background: transparent !important;
}


.newsletter-form__field-wrapper .field::before {
display: none;
}
.newsletter-form__field-wrapper .field::after {
display: none;
}
.cst-cusomt-nesletter-weraper .newsletter-form__button:not(:focus-visible):not(.focused) {
box-shadow: none;
background-color: transparent !important;
border: 0;
}
.cst-cusomt-nesletter-weraper .newsletter-form__button{
width: 100%;
}
.newsletter__wrapper .cst-cusomt-nesletter-weraper button#Subscribe {
font-size: 31px;
font-family: 'Satoshi';
color: #0C4434;
font-style: italic;
margin-top: 42px;
cursor: pointer;
}
.newsletter__wrapper .field input {
border: 1px solid #1E1E1E;
border-radius: 40px;
padding: 13px 154px;
line-height: normal;
margin: 9px 0;
background: transparent !important;
font-family: 'TT Drugs';
}
.newsletter__wrapper .field__input:focus-visible {
box-shadow: none;
}
.newsletter-form__field-wrapper .field label {
color: #1e1e1e;
line-height: normal;
top: 19px;
}
.newsletter-form__field-wrapper .field__input:not(:placeholder-shown)~.field__label {
color: #1e1e1e;
line-height: normal;
top: 19px;
font-size: 19px;
}
.footer__content-top.page-width {
max-width: 100%;
padding: 0 128px;
}
.footer ul.footer-block__details-content li a {
font-size: 14px;
line-height: 28px;
font-family: 'TT Drugs';
color: #E2D0B6 !important;
}
.footer {
background: #0C4434;
}
.footer .list-social{
justify-content: center;
margin: 61px 0;
gap: 20px;
}
.footer .list-social a.link.list-social__link{
color: #E2D0B6;
}
.footer__copyright.caption {
text-align: center !important;
font-size: 17px;
color: #E2D0B6;
font-family: 'TT Drugs';
text-transform: uppercase;
}
.footer__content-bottom-wrapper{
justify-content: center;
}



/*Responsive-start*/
@media screen and (max-width:1530px) {
.cst-home-slider2 .slider-right h2 {
font-size: 40px;
line-height: 80px;
}
.cst-home-main-banner .custom-banner-content h2 {
font-size: 100px;
}
.cst-home-bestSeller h2.cst--heading.slider-heading ,.cst-home-bestSeller h2.cst-bottom-heading.slider-heading {
font-size: 90px;
line-height: 156px;
padding-right: 0;
}


}
@media screen and (max-width:1400px) {
.cst-home-imgeText1 .image-with-text__content h2 {
font-size: 60px;
}
.cst-home-slider2 .slider-right h2 {
font-size: 32px;
line-height: 76px;
}
.cst-home-review p.review-text {
font-size: 17px;
line-height: 25px;
}
.cst-home-category h2.image-with-text__heading.inline-richtext.h0 {
font-size: 75px;
line-height: 87px;
}
.cst-home-about h2.custom-banner-heading {
font-size: 75px;
line-height: 67px;
}
.cst-custom-newslatter h2.custom-banner-heading {
font-size: 75px;
line-height: 90px;
max-width: 400px;
}
.cst-home-services .cst-odd-sec h3{
font-size: 32px;
}
.cst-home-services .cst-even-sec h3{
font-size: 32px;
}
.cst-product-detail h3 {
font-size: 10px;
}
}
@media screen and (max-width: 1220px) {
.cst-home-main-banner .custom-banner-content h2 {
font-size: 85px;
}
body .cst-head h2 {
font-size: 75px;
}
.cst-home-imgeText1 .image-with-text__content h2 {
font-size: 50px;
}
.cst-home-services .cst-odd-sec h3, .cst-home-services .cst-even-sec h3 {
font-size: 28px;
}
.cst-home-imgeText1 .image-with-text__text p {
font-size: 16px;
}
.cst-homr-richText .rich-text__blocks.left h2:after{
left: -20%;
}
.header__heading-logo {
max-width: 160px;
}
body header nav.header__inline-menu a{
margin: 0 25px;
}
}
@media screen and (max-width: 1150px) {
.cst-homr-richText .rich-text__blocks.left h2:after{
width: 130px;
height: 171px;
left: -18%;
top: -130px;
}
.cst-home-category .image-with-text__content {
padding: 125px 60px;
}
.cst-custom-home-newsletter .container{
padding: 0 60px;
}
.footer__content-top.page-width {
padding: 0 60px;
}
.cst-custom-newslatter h2.custom-banner-heading{
font-size: 60px;
line-height: 70px;
}
.cst-home-about h2.custom-banner-heading{
font-size: 60px;
}
.cst-home-category .cst-colletions-list li {
padding: 13px 22px;
}
.cst-home-category .cst-colletions-list li a{
font-size: 15px;
}
.cst-home-about .custom-banner-left {
padding-left: 40px;
}
.cst-home-slider2 .slider-right h2 {
font-size: 27px;
line-height: 64px;
}
.cst-homr-richText .rich-text__blocks.left h2:before{
width: 175px;
}
.cst-custom-home-image-banner h2 {
font-size: 50px;
}
.cst-home-category h2.image-with-text__heading.inline-richtext.h0 {
font-size: 60px;
line-height: 75px;
}
body .cst-head h2 {
font-size: 60px;
line-height: 40px;
}
.cst-home-main-banner .custom-banner-content h2 {
font-size: 75px;
}
.cst-home-about .cst-multi-buttons a {
font-size: 14px;
}
}
@media screen and (max-width: 1075px) {
.cst-homr-richText .rich-text__blocks.left h2:after {
left: -16%;
}
.cst-home-imgeText1 .image-with-text__content h2 {
font-size: 40px;
}
.cst-custom-home-image-banner h2 {
font-size: 40px;
}
body header nav.header__inline-menu a {
margin: 0 18px;
}
.cst-home-main-banner .cst-custom-banner-wrapper .cst-banner-btn {
margin-top: 40px;
}
}
@media screen and (max-width: 989px) {
.cst-home-bestSeller h2.cst--heading.slider-heading ,.cst-home-bestSeller h2.cst-bottom-heading.slider-heading {
font-size: 40px;
text-align: center !important;
line-height: 50px;
margin: 20px;
}
.cst-home-category h2.image-with-text__heading.inline-richtext.h0{
font-size: 40px;
line-height: 60px;
}

.cst-product-detail {
flex-direction: column;
}
.cst-home-category ul{
margin-top: 40px;
}
.custom-product-slider .slick-prev {
transform: translate(25px);
}
.cst-homr-richText .page-width .rich-text__blocks {
max-width: 100%;
}
.cst-homr-richText .rich-text__blocks.left h2:after {
width: 119px;
height: 130px;
left: 0%;
top: -115px;
}
.cst-home-category .cst-colletions-list li {
padding: 9px 9px;
}
.cst-home-main-banner .custom-banner-content h2 {
font-size: 55px;
line-height: 90px;
}
.cst-home-imgeText1 .image-with-text__content {
padding: 50px;
}
.cst-custom-home-image-banner h2{
font-size: 35px;
}
.cst-banner-btn a{
font-size: 20px;
line-height: 89px;
}
.cst-banner-btn{
height: 130px;
width: 130px;
line-height: 90px;
}
.cst-home-retail.retailer-slider {
padding: 80px 0;
}
.cst-home-about .custom-banner-content{
padding: 100px 60px 64px;
}
.cst-home-about h2.custom-banner-heading {
margin-bottom: 30px;
font-size: 40px;
}
.cst-home-about .cst-multi-buttons a {
padding: 13px 24px;
}
body .cst-home-main-banner {
padding: 80px 0 59px;
}
.footer ul.footer-block__details-content li a {
font-size: 12px;
line-height: 22px;
}
.cst-home-about .custom-banner-left {
padding-left: 0;
}
.cst-home-services .services-card-image img {
height: 420px;
}
}
@media screen and (max-width: 789px) {
body .cst-home-bestSeller h2.cst-bottom-heading.slider-heading{
margin: 0;
}

.cst-home-product-Image .custom-product-slider {
width: 100%;
max-width: 100%;
}
body .cst-home-main-banner .custom-banner-main {
flex-direction: column-reverse;
}
.cst-home-main-banner .cst-custom-banner-wrapper {
justify-content: left;
}
.cst-home-main-banner .custom-banner-left p{
max-width: 100%;
}
.cst-home-imgeText1 .image-with-text__media-item.image-with-text__media-item--medium {
width: 100%;
}
.cst-home-category .image-with-text__media-item.image-with-text__media-item--medium {
width: 100%;
}
.cst-home-imgeText1 .image-with-text__text p{
max-width: 100%;
}
.cst-home-product-Image .custom-slider-container {
flex-direction: column-reverse;
max-width: 100%;
margin-bottom: 50px;
}
.cst-home-product-Image .custom-image-container  {
max-width: 100%;
width: 100%;
}
.cst-home-product-Image .custom-image-container img {
border-radius: 0;
height: 420px;
width: 100%;
}
.custom-product-slider .slick-next {
transform: translate(-180px);
}
.custom-product-slider .slick-prev{
transform: translate(90px);
}
.cst-home-category .image-with-text__content {
padding: 30px;
}
.cst-home-about .custom-banner-content {
padding: 50px;
}
.cst-home-about  .custom-banner-main.reverse-order {
display: flex
;
flex-direction: column-reverse;
}
.cst-home-category .image-with-text__media {
height: 420px;
}
.cst-home-about .custom-banner-right img {
height: 420px;
object-position: 52% 10%;
}
.cst-home-about .custom-banner-left p{
margin: 0 0 50px;
max-width: 100%;
}
.cst-home-about .cst-multi-buttons a {
padding: 16px 48px;
}
.cst-home-about .cst-custom-banner-wrapper {
justify-content: start;
}
.cst-home-about .cst-banner-btn{
margin-top: 40px;
}
.cst-custom-home-newsletter .container{
flex-direction: column;
align-items: start;
padding: 0 30px;
}
.footer__content-top.page-width{
padding: 0 30px;
}
.cst-home-main-banner .custom-banner-content{
padding: 0 30px;
}
.cst-homr-richText .rich-text__blocks.left h2:before {
display:none;
}
.cst-homr-richText .rich-text__blocks.left h2:after {
height: 150px;
width: 100px;
left: auto;
top: -141px;
}
.footer .footer__blocks-wrapper {
display: grid;
row-gap: 20px !important;
}
.footer .list-social{
justify-content: start !important;

}
.footer .footer__content-bottom-wrapper{
justify-content: start !important;
}
.footer .footer__content-bottom{
padding-top: 0;
}
.footer .footer-block.grid__item.footer-block--menu {
width: 100%;
margin: 0;
}
.footer .footer-block__details-content {
margin: 0;
}
.cst-custom-newslatter h2.custom-banner-heading{
max-width: 100%;
}
.cst-custom-newslatter p{
margin-top: 17px !important;
}
.cst-home-main-banner .custom-banner-content h2 {
font-size: 50px;
line-height: 60px;
margin-bottom: 30px;
}
.cst-homr-richText .rich-text__blocks.left h2:before{
transform: translate(8px);
}
body .cst-head p {
font-size: 15px;
}
body .cst-head h2 {
font-size: 45px;
line-height: 40px;
}
.cst-custom-home-image-banner h2 {
max-width: 501px;
margin: 0 auto;
line-height: normal;
}
.cst-custom-home-image-banner p{
font-size: 22px;
}
.cst-home-review .client-image {
width: 100%;
}
.cst-home-review  .review-card {
flex-direction: column;
padding: 10px;
}
.cst-home-review .client-image img{
margin: 0;
}
.cst-home-about .custom-banner-content{
padding: 30px;
}
.cst-home-imgeText1 .image-with-text__content{
padding: 30px;
}
header.page-width {
padding: 20px 25px !important;
}
.cst-home-bestSeller .product-slider {
padding: 0 70px;
}
}
@media screen and (max-width: 649px) {
.cst-home-services .services-custom-slider {
padding-bottom: 0;
}

.cst-home-bestSeller .product-slider .slick-prev:before{
width: 100px;
}
.cst-home-bestSeller .product-slider .slick-next:before{
width: 100px;
}
}
@media screen and (max-width: 595px) {
.cst-home-bestSeller .image-wrapper{
background: transparent;
}
.cst-product-detail{
background:transparent;
}
.cst-home-bestSeller h2.cst-bottom-heading.slider-heading{
font-size: 40px;
line-height: 69px;
}

.cst-custom-home-image-banner .banner__buttons {
padding-top: 20px;
flex-direction: column;
}
.cst-custom-home-image-banner h2 {
font-size: 23px;
}
.cst-custom-newslatter h2.custom-banner-heading{
font-size: 50px;
}

.custom-product-slider .slick-prev {
left: -40px;
}
.custom-product-slider .slick-next {
right: -62px;
}
.cst-home-about h2.custom-banner-heading {
margin-bottom: 20px;
font-size: 32px;
}
.footer .list-social{
max-width: 20px 0 !important;
}
.cst-homr-richText .rich-text__wrapper {
padding: 0;
}
.cst-home-slider2 .slider-content {
flex-direction: column;
}
.cst-home-slider2 .slider-left {
max-width: 100%;
}
.cst-home-slider2 .slider-right {
max-width: 100%;
}
}
@media screen and (max-width: 480px) {
.cst-home-slider2 .slider-right h2 {
font-size: 21px;
line-height: 58px;
}
.cst-home-slider2 .cst-odd-sec h2, .cst-home-slider2 .cst-odd-sec p{
font-size: 13px;
}
.cst-home-about h2.custom-banner-heading {
font-size: 30px;
line-height: normal;
}
.custom-product-slider .slick-next:before{
width: 70px;
height: 70px;
}
.custom-product-slider .slick-prev:before {
width: 70px;
height: 70px;
}
.cst-home-product-Image .custom-product-slide img{
height: 295px;
}
.cst-home-main-banner .custom-banner-content h2{
font-size: 37px;
line-height: 51px;
}
.cst-home-imgeText1 .image-with-text__content h2{
font-size: 35px;
}

body .cst-head h2{
font-size: 35px;
padding: 0 15px;
}
body .cst-head p{
padding: 0 15px;
}
.cst-home-about .cst-multi-buttons a {
padding: 16px 20px;
}
.cst-home-imgeText1 a.cst-button.button.button--primary{
font-size: 15px;
}
.cst-home-imgeText1 .cst-button-content-wrap svg {
width: 80px;
height: 11px;
}
.common-slide-arrow .slick-next{
transform: translate(-12px);
}
.common-slide-arrow .slick-prev {
transform: translate(-5px);
}
.cst-home-category ul{
grid-template-columns: 1fr ;
}
}
/*Responsive-end*/